<form action="/parcels" method="post">
  <label for="height">Add parcel height:</label>
  <input id="height" name="height" type="number" min="1" max="120" autocomplete="off">
  <label for="width">Add parcel width:</label>
  <input id="width" name="width" type="number" min="1" max="120" autocomplete="off">
  <label for="length">Add parcel length:</label>
  <input id="length" name="length" type="number" min="1" max="120" autocomplete="off">
  <label for="weight">Add parcel weight:</label>
  <input id="weight" name="weight" type="number" min="0" autocomplete="off">
  <button type="submit">Submit</button>
</form>