@using FictionalShipping.Models;

<h1>Parcels</h1>
@if (Model.Count == 0)
{
  <p>There are no parcels in this list.</p>
}
<ul>
  @{int count = 1;}
  @foreach (Parcel parcel in Model)
  {
    <li>Parcel @count dimensions: @parcel.Height" x @parcel.Width" x @parcel.Length"</li>
    <li>Parcel @count weight: @parcel.Weight lbs</li>
    if (parcel.GetPrice() != 0 && parcel.Weight < 800)
    {
      <li>Parcel @count will cost $@string.Format("{0:0.00}", parcel.GetPrice())</li>
      count++;
    }
    else
    {
      <li>Parcel @count cannot be shipped.</li>
      count++;
    }
  }
</ul>
<a href="/parcels/new">Add a new parcel.</a>