<h1>Welcome to Fictional Shipping!</h1>
<h3>Please choose from the options below</h3>
<div>
  <a href='/parcels/new'>Ship a new parcel</a>
</div>
<div>
  <a href='/parcels'>View a list of parcels</a>
</div>